$calendar-height: 200px;
$calendar-font-color: #3A4351;
$calendar-background-color: #FBFAFA;
$calendar-bottom-border-color: #ECECEC;
$calendar-active-color: #F48685;
$calendar-different-month-color: #afafaf;
$calendar-disabled-color: #dddddd;
$calendar-modal-color: white;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}